COMPOSE_PROJECT_NAME=joystream

# We use a single postgres service for both the query node indexer and processor.
# The default `DB_*` environment variables point to query node processor's database.
# The DB_NAME env is overriden with INDEXER_DB_NAME in the indexer's service docker-compose config.
# When running other services, those values should be overriden by their local environment configs.
# Query node DB config:

# For init.sh migration script to work correctly,
# you must override the WARTHOG_* variables there to match values below for the database.
# This is because the query-node docker image will have some values generated at time
# of build which don't match custom values here.
INDEXER_DB_NAME=query_node_indexer
PROCESSOR_DB_NAME=query_node_processor
DB_USER=postgres
DB_PASS=postgres
DB_PORT=5432

DEBUG=index-builder:*
TYPEORM_LOGGING=error

## Indexer options
# Block height to start indexing from.
# Note, that if there are already some indexed events, this setting is ignored
BLOCK_HEIGHT=0

# Query node GraphQL server port
# Remember to change it in COLOSSUS_QUERY_NODE_URL and DISTRIBUTOR_QUERY_NODE_URL as well
GRAPHQL_SERVER_PORT=8081
PROCESSOR_STATE_APP_PORT=8082
PROCESSOR_HOST=processor

# Query node playground endpoint
# Leave it blank if you want endpoint to be copied from browser's URL
GRAPHQL_PLAYGROUND_ENDPOINT=""

# Query node playground subscription endpoint - will be derived from GRAPHQL_PLAYGROUND_ENDPOINT
# when not set
# GRAPHQL_PLAYGROUND_SUBSCRIPTION_ENDPOINT=ws://localhost:8081/graphql

# URL for CDN serving QN Playground's JS/CSS files - set empty string for local file serving
GRAPHQL_PLAYGROUND_CDN_URL=""

# Hydra indexer gateway GraphQL server port
# Remember to change it in PROCESSOR_INDEXER_GATEWAY as well
HYDRA_INDEXER_GATEWAY_PORT=4000

# Default GraphQL server host. It is required during "query-node config:dev"
GRAPHQL_SERVER_HOST=graphql-server

# Websocket RPC endpoint containers will use.
JOYSTREAM_NODE_WS=wss://rpc.joystream.org:9944/

# Indexer gateway used by processor. If you don't use the local indexer set this to a remote gateway
PROCESSOR_INDEXER_GATEWAY=http://hydra-indexer-gateway:4000/graphql

# State update endpoint used by prcessor (to send state updates)
STATE_UPDATE_ENDPOINT=http://graphql-server:8082/update-processor-state
